@import 'variablesFunctions';


.title{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    div:nth-child(1){
        flex: 0 0 auto;
        padding-right: 10px;
    }
    div:nth-child(2){
        flex: 1 1 auto;
    }
    div:nth-child(3){
        flex: 0 0 auto;
        padding-left: 10px;
    }
    hr{
        width: 100%;
        background: $color-amarelo;
        border: 0;
        height: 2px;
    }
    h1{
        font-size: 2.5rem;
        color: $color-amarelo;
        font-size: 32px;
    }
}

.form-edit{
    border: 1px solid $color-red;
    padding: 25px;
    background: url(imgs/seta-formulario.png) no-repeat 50% 0;
    &::before{
        content: '';
        display: block;
        width: 28px;
        height: 35px;
        background: url(imgs/icon-edit-red.png) no-repeat;
        margin: -17px;
    }
}
